<div class ="footer-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="space-around">
    <div class="footer">
      <div>
        <div>1000 N 4th Street</div>
        <div>Fairfield, IA</div>
        <div>52557</div>
      </div>
    </div>
    <div class="footer">
        <div class="footer-inner">Author: Team X</div>
      <div>
        Team-X@elegant-shop.com
      </div>
      <div  class="footer-inner">
        <a href="https://www.termsfeed.com/live/fdfbb67b-c613-49f2-b97f-7008e7116257">Priacy and Policy</a>
      </div>
    </div>
    <div class="footer">
        <header>© 2020, made with <i class="material-icons">favorite</i> by Us!</header>
    </div>

</div>
