<div class ="footer-container" fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="space-around"
    style="background-color:#3f51b5;color:white ">
    <div class="footer">
        <header>FOOTER CONTENT 1</header>
    </div>
    <div class="footer">
        <header>FOOTER CONTENT 2</header>
    </div>
    <div class="footer">
        <header>FOOTER CONTENT 3</header>
    </div>

</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutAlign="space-around"
    style="background-color:#3f51b5;color:white">
    <div>
        <header>terms and conditions</header>
    </div>


</div>
