<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap="5%" fxLayoutAlign="center">
  

    <mat-card class="card-picture" *ngFor ="let product of products">
      <mat-card-title >
        <span>{{product.name}}</span>
      </mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">
          <span>{{product.price}}</span>
      </mat-card-subtitle>
      <img mat-card-image src="product.imageUrl" alt="Photo Missing">
      <mat-card-content fxLayoutAlign="center" >
          <span>
              {{product.description}}
          </span>
      </mat-card-content>
      <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button mat-button>BUY</button>
          <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
</div>

