<div fxLayout="row wrap" fxLayout.xs="column"  fxLayoutGap="5%" fxLayoutAlign="center">
  

    <mat-card class="card-picture">
      <mat-card-title >
        <span>Maharishi mountain bike</span>
      </mat-card-title>
      <mat-card-subtitle fxLayoutAlign="center">
          <span>$5.99</span>
      </mat-card-subtitle>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      alt="Photo Missing">
      <mat-card-content fxLayoutAlign="center" >
          <span>
              The description of the product goes in here...
          </span>
      </mat-card-content>
      <mat-card-actions fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
          <button mat-button>BUY</button>
          <button mat-button>ADD TO CART</button>
      </mat-card-actions>
    </mat-card>
  
  




  
</div>

<!-- <mat-card class="card-picture" *ngFor="let picture of pictures">
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      <span fxFlex="80%">{{picture.title}}</span>
      <mat-icon fxFlex="10%">mode_edit</mat-icon>
      <mat-icon fxFlex="10%">delete</mat-icon>
    </mat-card-title>
    <img mat-card-image [src]="picture.img">
  </mat-card> -->