<mat-card>
  <mat-card-content>
    <form [formGroup]="userDetailsForm" (ngSubmit)="onSignUpButtonPressed()">
      <p>
        <mat-form-field>
          <input matInput type="text" matInput placeholder="Update Card No" formControlName="cardNo">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Update your card holder's name" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Update expDate" formControlName="expDate">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input matInput matInput placeholder="Update CVV"
                 [type]="hide ? 'password' : 'text'" formControlName="cvv">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
      </p>


      <div fxLayout="column" fxLayout.xs="row" fxLayoutGap="5%" fxLayoutAlign="center">
        <p *ngIf="error" class="error">
          {{ error }}
        </p>
        <p *ngIf="success" class="alert-success">
          {{ success }}
        </p>
      </div>

      <div class="button">
        <button mat-raised-button color="primary" type="submit" mat-button>Update</button>
      </div>

    </form>

  </mat-card-content>
</mat-card>
