.outlet{
 margin-top: 70px;
    width: 100%;

}
.product-card {

  width: 23%;
  margin-bottom: 2%;
}
.main-display{
  padding: 10px;
}
app-page-footer{

}
/* .container {
  min-height: 100%;
  width: 100%;
} */
